html {
    font-size: 16px;
}

body {
    overflow-y: scroll;
    font-family: $font-main;
    font-size: 1rem;
}

a {
    transition: color 0.25s;

    &:hover,
    &:focus {
        text-decoration: none;
        color: $accent-color;
    }
}