.header-logo {
    padding: 100px 20px;
    background-color: $dark-color;
    background-image: url(../img/header-bg.jpg);
    background-position: 50% 50%;
    background-size: cover;

    &__title {
        display: block;
        text-align: center;
        letter-spacing: 0.33em;
        color: $accent-color;
        font-family: $font-header;
        font-size: 3.5rem;

        @include text-shadow;
    }

    &__description {
        display: block;
        text-align: center;
        letter-spacing: 0.2em;
        color: $light-color;
        font-size: 1.15rem;

        @include text-shadow;
    }
}

@media (max-width: 767px) {
    .navbar-nav {

        li {
            margin: 0;
        }
        a {
            border-radius: 0 !important; 
        }
    }

    .navbar-left {
        margin-bottom: 0;
    }

    .navbar-right {
        margin-top: 0;
    }
}