@mixin text-shadow($blur-size: 5px) {
    text-shadow: 0 0 $blur-size darken($dark-color, 15%), 0 0 $blur-size * 4 darken($dark-color, 15%);
}

@mixin text-shortener {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin multi-text-shortener($fz: 1rem, $lh: 1.5, $h: 70px, $l: 3) {
    display: -webkit-box;
    overflow: hidden;
    height: $h;
    font-size: $fz;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $l;
}