.footer {
  background-color: #222222;
  padding-top: 40px;
  margin-top: 30px;
}

.footer .container {
  padding: 0;
}

.footer-item h4 {
  color: white;
}

.footer-item p {
  margin: 0;
}

.footer-item a {
  color: #777777;
}

.footer-item a:hover {
  color: white;
}

.footer-link {
  margin: 31px 0 22px 0;
}

.footer-link h4 {
  color: white;
  margin: 0;
}

.footer-link a {
  color: white;
  font-weight: 700;
  font-size: 16px;
}
