.film-info,
.film-description,
.film-review,
.comment {
  position: relative;
  overflow: hidden;
}

.input-lg {
  font-size: 0.875rem;
}

.btn-lg {
  margin-top: 15px;
}

.form-control {
  max-width: 100%;
  min-width: 100%;
}

.film-description .panel-body {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.panel-data {
  width: 100%;
}

.panel-data .list-group {
  text-align: center;
  margin: 0;
  font-size: 1.25rem;
}

.panel-data .list-group-item {
  background: none;
  border: none;
  display: inline-block;
  padding-bottom: 5px;
  padding-top: 5px;
}

.panel-data .list-group .badge {
  margin-top: 4px;
  margin-left: 4px;
  font-size: 1rem;
}

.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive-16by9 .embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive-16by9 .embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
